.light {
  --background-color: #f5f5f5;
  --text-color: #333;
  --task-background-color: ;
}

.dark {
  --background-color: #333;
  --text-color: #f5f5f5;
  --task-background-color: #6e6d6f;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  padding: 20px;
}

.task {
  background-color: var(--task-background-color);
}
