.add-task {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  margin-left: 10px;
}

.add-task input {
  padding: 5px;
}

.add-task button {
  padding: 5px 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
