body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.filters {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-inline: 20px;
}

.dropdown {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown label {
  font-size: 1rem;
  color: var(--text-color);
}

.dropdown select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.completed-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.completed-toggle label {
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
}
